@font-face {
    font-family: 'VarelaRound';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'), url('https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfpcuPP9g.woff2') format('woff2');
    unicode-range: U + 0590-05FF, U + 20AA, U + 25CC, U+FB1D-FB4F;
}


.tran {
    width: 200px; /*340*/
    height: 7px; /*340*/
    border-radius: 10px 10px 10px 10px;
    background: gray/*url("~/images/DC.jpg")*/;
    transition: width 2s;
}

.tran:hover {
    width: 400px; /*895*/
}

.introduction {
    white-space: pre-line;
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
    font-family: VarelaRound;
    font-size: 17px;
    text-align: right;
}

.ShieldText {
    font-size: 20px;
    color: darkblue;
    text-align: center;
}

.boldedText {
    font-size: 30px;
    text-align: center;
}

#video {
    float: right;
    display: block;
    margin-right: 33%;
}

p {
    column-span: none;
}

#mycanvas {
    border: 1px solid #000000;
    text-align: center;
}

h4 {
    text-align: right;
    font-family: VarelaRound;
}

footer {
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -100px;
    text-align: center;
    padding-top: 30px;
}
